<!DOCTYPE html>
<html>
<head>
  <title>Appface</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <style>
	  body{
		background: #3498db !important;
	}

	.jumbotron{
		background: #ecf0f1 !important;
	}

	.container{
		margin-top: 44px !important;
	}	
</style>
</head>
<body>

    <div class="container">

      <div class="jumbotron">
        <h1>Single no more</h1>
        <p class="lead">An App for know who of your friends are single and discover through your interests the best friend available to you.</p>
        <%= link_to 'Sign In', @auth_url, :class=>"btn btn-lg btn-success"%>
      </div>

    </div> 


  </body>

</body>
</html>
